<!DOCTYPE html>
<html>
  <head>
    <title>HUB API</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Public API of the devdk-hub project. WORK IN PROGRESS.</p>
    <p><a href="/docs">Read the API docs</a></p>
    <p><a href="https://github.com/deldy/devdk-hub-api">Github</a></p>
  </body>
</html>
