<!DOCTYPE html>
<html>
  <head>
    <title>HUB API</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <pre>
API USAGE:

GET /meetings - returns all meetings
GET /meetings?after=DATE - returns meetings that starts at that date or after
GET /meetings?before=DATE - returns meetings that starts at that date or before
GET /meetings?tags=A,B,C - returns mettings that have one of these tags
GET /meetings?organizers=A,B,C - returns mettings that have one of these organizers
GET /meetings?cities=A,B,C - returns mettings that is in one of these cities

PUT (JSON) /meetings - creates a new meeting
Example:
{
	"title": "Jespers møde!",
	"starts_at": 1407715200000,
	"description": "Jespers møde, KUN for Jesper!",
	"tags": [
		"jesper"
		],
	"organizers": [
		"Jesper"
		],
	"city": "Odense"
}
<a href="/schemas/meeting_schema.json" download>Download JSON schema</a>

POST (JSON) /meetings - update a meeting
Example:
{
  "_id": "23423",
  "title": "Jespers møde!",
  "starts_at": 1407715200000,
  "description": "Jespers møde, KUN for Jesper!",
  "tags": [
    "jesper"
    ],
  "organizers": [
    "Jesper"
    ],
  "city": "Odense"
}
<a href="/schemas/meeting_update_schema.json" download>Download JSON schema</a>
    </pre>
  </body>
</html>
